.odd {
    background-color: rgb(205, 92, 92);
    font-family: Verdana, sans-serif;
}

.odd.num3 {
    font-size: 24px;
}
#num2 {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#num4 {
    background-color: rgb(0, 255, 128);
    font-weight: bold;
    font-size: 24px;
}